@font-face {
    font-family: 'Monrope-regular';
    src: url('/fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Monrope-medium';
    src: url('/fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Monrope-semiBold';
    src: url('/fonts/Manrope-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Monrope-regular';
    background-color: #E5E5E5;
}

.app-container {
    display: flex;
    gap: 10px;
}

.sidebar {
    width: 550px;
    background-color: #667D97;
    color: #E5E5E5;
    min-height: 100vh;
}

.sidebar-nav {
    padding: 20px;
}

.sidebar-nav h2 {
    font-size: 43px;
    margin-bottom: 44px;
    padding-bottom: 15px;
    border-bottom: 1px solid #34495e;
    font-family: 'Monrope-semiBold';
    color: #E5E5E5;
}

.sidebar-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    color: #E5E5E5;
    font-size: 40px;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar-nav a:hover {
    background-color: #536b87;
}

.logout {
    margin-top: 150px;
}

.logout-icon {
    width: 77px;
    height: 77px;
    margin-right: 27px;
    vertical-align: middle;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 147px;
}

.content-box {
    width: 100%;
    max-width: 1100px;
}

h1 {
    font-size: 64px;
    font-family: 'Monrope-semiBold';
    color: #3E4C5B;
    margin-top: 75px;
    margin-bottom: 30px;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-icon {
    width: 333px;
    height: auto;
}

.titleindex h2 {
    margin-top: 70px;
    font-size: 48px;
    color: #3E4C5B;
    font-family: 'Monrope-regular';
    max-width: 780px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 72px;
}

.card {
    background-color: #667D97;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: #536b87;
}

.card a {
    font-family: 'Monrope-medium';
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 35px;
    margin-bottom: 45px;
}

.filter-row {
    display: flex;
    align-items: center;
    gap: 150px;
    width: 100%;
}

.filter-row label {
    font-size: 36px;
    color: #3E4C5B;
    width: 140px;
}

.filter-row select {
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background-color: #ACB5C0;
    width: 587px;
    height: 75px;
    font-family: 'Monrope-medium';
    color: #34495e;
    font-size: 36px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: #3E4C5B;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #3E4C5B;
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    background-color: #ACB5C0;
}

.table thead th {
    font-weight: 500;
    text-align: center;
    font-family: 'Monrope-medium';
    font-size: 32px;
}

.table-card p {
    font-size: 36px;
    font-family: 'Monrope-regular';
    color: #3E4C5B;
    margin-bottom: 10px;
}

.table-card h5 {
    font-size: 36px !important;
    font-family: 'Monrope-regular' !important;
    color: #3E4C5B !important;
    margin-bottom: 10px !important;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.page-link {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #3E4C5B;
    background-color: #ACB5C0;
    border-radius: 6px;
    font-size: 20px;
}

.page-link.active {
    background-color: #8a9bb0;
    color: white;
}

.page-link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.form-row {
    display: flex;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 70px;
    align-items: center;
}

.form-row input {
    flex: 1;
    padding: 15px 240px 15px 30px;
    font-size: 36px;
    border: none;
    border-radius: 10px;
    background-color: #ACB5C0;
    font-family: 'Monrope-regular';
    color: #3E4C5B;
}

.form-row input:focus {
    outline: none;
}

.btn-create {
    background-color: #667D97;
    color: #E5E5E5;
    font-size: 36px;
    padding: 13px 33px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Monrope-medium';
}

.btn-create:hover {
    background-color: #566d86;
}

.btn-show {
    background-color: #667D97;
    border: none;
    color: white;
    font-size: 36px;
    padding: 10px 36px;
    border-radius: 10px;
    cursor: pointer;
    height: 75px;
    min-width: 200px;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
}

.btn-show:hover {
    background-color: #566d86;
}

.employee-form {
    margin-top: 30px;
    width: 925px;
}

.employee-form .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 0;
}

.employee-form .form-row label {
    width: 180px;
    font-size: 36px;
    color: #3E4C5B;
    font-family: 'Monrope-medium';
}

.employee-form .form-row input,
.employee-form .form-row select {
    flex: 1;
    padding: 12px 15px;
    font-size: 32px;
    border: none;
    border-radius: 10px;
    background-color: #ACB5C0;
    font-family: 'Monrope-regular';
    color: #3E4C5B;
    width: 596px;
    height: 66px;
}

.employee-form .form-actions {
    margin-top: 40px;
    text-align: right;
}

.btn-save {
    background-color: #667D97;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Monrope-medium';
}

.btn-save:hover {
    background-color: #566d86;
}

.delete-btn {
    background-color: #ACB5C0;
    border: none;
    color: #3E4C5B;
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Monrope-medium';
    width: 100%;
}

/* ===== WELCOME PAGE ===== */
.welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.welcome-left h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.welcome-left p {
    font-size: 24px;
    color: #3E4C5B;
    margin-bottom: 40px;
}

.welcome-buttons {
    display: flex;
    gap: 20px;
}

.btn-welcome {
    background-color: #667D97;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Monrope-medium';
}

.btn-welcome:hover {
    background-color: #566d86;
}

.welcome-owl {
    width: 300px;
    height: auto;
}

/* ===== АВТОРИЗАЦИЯ ===== */

/* Блок формы */
.auth-container {
    background: transparent;
    text-align: center;
}

/* Заголовок */
.auth-container h1 {
    font-size: 64px;
    margin-bottom: 53px;
    color: #34495e;
}

.auth-links {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password {
    font-size: 20px;
    color: #3E4C5B;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn-auth {
    width: 100%;
    background-color: #667D97;
    border: none;
    color: white;
    font-size: 32px;
    padding: 14px 300px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Monrope-medium';
    margin-top: 50px;
}

.btn-auth:hover {
    background-color: #566d86;
}

/* Поля */
.auth-field {
    margin-bottom: 50px;
    text-align: left;
}

.auth-field label {
    display: none; /* как на макете — без подписей */
}

/* Инпуты */
.auth-field input,
.auth-field select {
    width: 100%;
    padding: 20px 460px 20px 60px;
    border: none;
    border-radius: 6px;
    background-color: #ACB5C0;
    color: #3E4C5B;
    font-size: 24px;
    outline: none;
    transition: 0.2s;
}

.auth-field input:focus,
.auth-field select:focus {
    background-color: #cfd6dd;
}


/* Сообщения */
.auth-success,
.auth-error {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}

.auth-success {
    background-color: #639c73;
    color: #2e7d32;
}

.auth-error {
    background-color: #743c36;
    color: #c62828;
}

/* Нижняя часть */
.auth-footer {
    margin-top: 15px;
    font-size: 24px;
}

.auth-footer a {
    color: #5c738a;
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
}