@font-face {
    font-family: 'Monrope-regular';
    src: url('/fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Monrope-medium';
    src: url('/fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Monrope-semiBold';
    src: url('/fonts/Manrope-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Monrope-regular';
    background-color: #E5E5E5;
}

.app-container {
    display: flex;
    gap: 10px;
}

.sidebar {
    width: 550px;
    background-color: #667D97;
    color: #E5E5E5;
    min-height: 100vh;
}

.sidebar-nav {
    padding: 20px;
}

.sidebar-nav h2 {
    font-size: 43px;
    margin-bottom: 44px;
    padding-bottom: 15px;
    border-bottom: 1px solid #34495e;
    font-family: 'Monrope-semiBold';
    color: #E5E5E5;
}

.sidebar-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    color: #E5E5E5;
    font-size: 40px;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar-nav a:hover {
    background-color: #536b87;
}

.logout {
    margin-top: 150px;
}

.logout-icon {
    width: 77px;
    height: 77px;
    margin-right: 27px;
    vertical-align: middle;
}

.main-content {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 64px;
    font-family: 'Monrope-semiBold';
    color: #3E4C5B;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.owl-icon {
    width: 333px;
    height: auto;
}

.titleindex h2 {
    margin-top: 70px;
    font-size: 48px;
    color: #3E4C5B;
    font-family: 'Monrope-regular';
    max-width: 780px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    margin-top: 72px;
}

.card {
    background-color: #667D97;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    background-color: #536b87;
}

.card a {
    font-family: 'Monrope-medium';
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}

.main-content {
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-right: 147px;
}

.content-box {
    width: 100%;
    max-width: 1100px;
}

h1 {
    font-size: 64px;
    color: #3E4C5B;
    margin-bottom: 30px;
    margin-top: 75px;
}

.filter-bar {
    display: flex;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 70px;
    align-items: center;

}

.filter-bar label {
    font-size: 36px;
    color: #3E4C5B;
}

.filter-bar select {
    padding: 15px 130px 15px 22px;
    border-radius: 10px;
    border: none;
    background-color: #ACB5C0;
    width: 587px;
    height: 75px;
    font-family: 'Monrope-medium';
    color: #34495e;
    font-size: 36px;
}

.filter-bar button {
    background-color: #667D97;
    border: none;
    color: white;
    font-size: 36px;
    padding: 10px 36px;
    border-radius: 10px;
    cursor: pointer;
    width: 235px;
    height: 75px;
}

.filter-bar button:hover {
    background-color: #566d86;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: #3E4C5B;
}

table-card h5 {
    font-family: 'Monrope-regular';
    color: #34495e;
    font-size: 36px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #3E4C5B;
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    background-color: #ACB5C0;
}

.table thead th {
    font-weight: 500;
    text-align: center;
    font-family: 'Monrope-medium';
    font-size: 32px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}

.page-link {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: #3E4C5B;
    background-color: #ACB5C0;
    border-radius: 6px;
    font-size: 20px;
}

.page-link.active {
    background-color: #8a9bb0;
    color: white;
}

.page-link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}
.form-row {
    display: flex;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 70px;
    align-items: center;

}

.form-row input {
    flex: 1;
    padding: 15px 240px 15px 30px;
    font-size: 36px;
    border: none;
    border-radius: 10px;
    background-color: #ACB5C0;
    font-family: 'Monrope-regular';
    color: #3E4C5B;
}

.form-row input:focus {
    outline: none;
}

.btn-create {
    background-color: #667D97;
    color: #E5E5E5;
    font-size: 36px;
    padding: 13px 33px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Monrope-medium';
}

.btn-create:hover {
    background-color: #566d86;
}